.imh{
    height: 70vh;
    object-fit: cover;
}
.customprev11{
    height: 40vh;
    object-fit: cover;


}
.hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-item:focus, 
.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}
